@import "./mixins";

:root {
  --color-border: #eaecef;
  --shadow-small: 0 1px 0 rgba(27, 31, 35, 0.04);
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: #24292e;
}

* {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
}

input {
  font-family: var(--font-family);
  appearance: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.github_details {
  details {
    pointer-events: none;
  }
}

.mbl {
  display: none;
  @include mobile {
    display: inline-block;
  }
}
.hv-undeline {
  &:hover {
    text-decoration: underline;
    &:after,
    &::before {
      text-decoration: none;
    }
  }
}

.dsk {
  @include mobile {
    display: none;
  }
}

.flex {
  display: flex;
  align-items: center;
}
.app_wrapper {
  padding-right: 32px;
  padding-left: 32px;

  @include mobile {
    padding-right: 15px;
    padding-left: 15px;
  }

  .app_max_width {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.drop_own_caret {
  height: 5px;
  width: 10px;
  display: inline-block;
  background: #fff;
  margin: 0 4px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
